<table>
    <tr>
        <td>번호</td>
        <td>이름</td>
        <td>제목</td>
        <td>등록일</td>
        <td>조회수</td>
    </tr>

    {% if boards %}
        <ul>
            {% for boardRow in boards %}     
            <tr>
            <td>{{ boardRow.id }}</td>
            <td>{{ boardRow.name }}</td>                
            <td><a href="{% url 'board_view' boardRow.id page %}">{{ boardRow.subject }}</a></td>
            <td>{{ boardRow.created_date }}</td>
            <td>{{ boardRow.hits }}</td>
            </tr>       
            {% endfor %}
        </ul>
    {% else %}
        <p>No Data.</p>
    {% endif %}
</table>


<div class="pagination">
    <span class="step-links">
        {% if boards.has_previous %}
            <a href="/board/{{ boards.previous_page_number }}/">previous</a>
        {% endif %}

        <span class="current">
            Page {{ boards.number }} of {{ boards.paginator.num_pages }}.
        </span>

        {% if boards.has_next %}
            <a href="/board/{{ boards.next_page_number }}/">next</a>
        {% endif %}
    </span>
</div>


<!--<table width=700>
    <tr>
        <td><input type=button value="글쓰기" onclick="location.href={% url 'new_board' page %}"></td>
        <td><form name=searchf method=post action="/searchWithSubject/"> 
            <p align=right><input type=text name=searchStr size=50  maxlength=50>
            <input type=submit value="글찾기"></p>
        </td>
    </tr>
</table>-->
<div>
<button><a href="{% url 'new_board' page%}">글쓰기</a></button>
<button><a href="{% url 'new_board' page%}">글찾기</a></button> 
</div>