{% extends 'base.html' %}
{% block contents %}

<button class="btn btn-default" onclick="location.href='{% url 'account_add' %}'">Create</button>
{% if user.is_authenticated %}

    USER: {{ user.username }} 
    <button class="btn btn-default" onclick="location.href='{% url 'logout' %}'">Logout</button>

{% else %}
    <button class="btn btn-default" onclick="location.href='{% url 'login' %}'">Login</button>
{% endif %}
{% if user.is_authenticated %}
<button class="btn btn-default" onclick="location.href='{% url 'board_write' %}?page={{page}}&searchStr={{searchStr}}'">글쓰기</button>
{% endif %}


<table class=table>
    <tr>
        <td class="col-sm-1 center">번호</td>
        <td class="">제목</td>
        <td class="col-sm-3 center">등록일</td>
        <td class="col-sm-1 center">조회수</td>
    </tr>

    {% if boards %}
        
            {% for boardRow in boards %}     
            <tr>
            <td>{{ boardRow.id }}</td>
            <td><a href="{% url 'board_view' boardRow.id %}?page={{page}}&searchStr={{searchStr}}">{{ boardRow.subject }}</a> [{{boardRow.get_replys_count}}]</td>
            <td>{{ boardRow.created_date|date:"Y-m-d H:i:s" }}</td>
            <td>{{ boardRow.hits }}</td>
            </tr>       
            {% endfor %}
        
    {% else %}
        <p>No Data.</p>
    {% endif %}
</table>
{% load arithmetic %}
<div class="text-center">
    <ul class="pagination">
        <li>
            <a href="{% url 'board_home' %}?page={{page}}&searchStr={{searchStr}}" {% if not boards.page.has_previous %}disabled{% endif %}>&laquo;</a>
        </li>

        {% with active_page=boards.number %}

        {% for page_number in boards.paginator.page_range %}

            {# if we're beyond the first five pages, just show "..." until three pages before the current page #}
            {# e.g. on page 12 show: "... 9 10 11 12" #}
            {% if boards.number > 5 and page_number < boards.number|sub:4 %}
                {# nothing to show #}
            {% elif boards.number > 5 and page_number == boards.number|sub:4 %}
                {# show '...' #}
                <!--<li class="disabled">
                    <a href="{% url 'board_home' %}?page={{page_number|sub:5}}&searchStr={{searchStr}}">...</a>
                </li>-->

            {# if we're before the last five pages, just show "..." for pages more than three after the current page #}
            {# e.g. on page 1 of 10 show: "1 2 3 4 ..." #}
            {% elif boards.number < boards.paginator.num_pages|sub:5 and page_number > boards.number|add:4 %}
                {# nothing to show #}
            {% elif boards.number < boards.paginator.num_pages|sub:5 and page_number == boards.number|add:4 %}
                {# show '...' #}
                <!--<li class="disabled">
                    <a href="{% url 'board_home'%}?page={{page_number|add:5}}&searchStr={{searchStr}}">...</a>
                </li>-->

            {% else %}
                {# show the page number as normal #}
                <li {% if page_number == boards.number %}class="active"{% endif %} foo="3">
                    <a href="{% url 'board_home' %}?page={{page_number}}&searchStr={{searchStr}}">{{ page_number }}</a>
                </li>
            {% endif %}
             
        {% endfor %}

        {% endwith %}

        <li>
            <a href="{% url 'board_home' %}?page={{boards.paginator.num_pages}}&searchStr={{searchStr}}" {% if not boards.page.has_previous %}disabled{% endif %}>&raquo;</a>
        </li>

    </ul>
</div>
<div>
<form method='GET'>
    <div class="input-group">
        <input class="form-control" placeholder="글찾기" type=text name=searchStr action="{% url 'board_home' %}" value={{searchStr}}>
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">글찾기</button>
        </span>
    </div>
</form>
</div>
{% endblock %}