<form method='POST' action="{% url 'modify' form.instance.id  page %}">
    {% csrf_token %}
    <div>제목: {{form.subject}}</div>
    <!--{% if form.subject.errors %}
        <div class="form-group has-error">
            <div class="help-block">{{ form.subject.errors }}</div>
        </div>
    {% endif %}-->
    <div>이름: {{form.name}}</div>
    <div>내용: {{form.contents}}</div>
    <div>
        <input type='submit' name='submit' value='적용'>
        <input type='button' name='뒤로' value='뒤로' onclick='window.history.back()'>
    </div>
</form>