{% extends 'base.html' %}
{% block title %}글보기{% endblock %}
{% block contents %}
{% if user.is_authenticated %}
    <button class="btn btn-default btn-sm" onclick="location.href='{% url 'board_write' %}'">글쓰기</button>
    <button class="btn btn-default btn-sm" onclick="location.href='{% url 'board_edit' board_id=board.id %}?page={{page}}&searchStr={{searchStr}}&board_id={{board.id}}'">수정</button>    
    <button class="btn btn-default btn-sm" onclick="location.href='{% url 'board_delete' board_id=board.id %}?page={{page}}&searchStr={{searchStr}}'">삭제</button>
{% endif %}


<div>
    <hr>
    <div class="row">
        <div class="col-sm-9"><b>{{board.subject}}</b></div>
        <div class="col-sm-3 text-right">{{ board.created_date|date:"Y-m-d H:i:s" }}</p></div>
    </div>
    <hr>
    <div class="contents-banner">
        <!--banner-->
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            {% autoescape off %}
            {{ board.contents }}
            {% endautoescape %}    
        </div>
    </div>
</div>
<hr>
<div class="contents-banner">
    <!--banner-->
</div>

<div class="text-right">
    <button class="btn btn-default btn-sm" onclick="location.href='{% url 'board_home' %}?page={{page}}&searchStr={{searchStr}}'">글목록</button>
</div>

<hr>
<div class="replylist">
{% if replys is not None %}
{% include 'replylist.html' %}
{% endif %}
</div>
<div class="replyinput">
{% include 'replyInput.html' %}
</div>
<div class="contents-banner">
    <!--banner-->
</div>
{% include 'list_template.html' %}
<div class="contents-banner">
    <!--banner-->
</div>
{% endblock %}

