<html>
<head>
<title>글보기</title>
</head>  
        
<div>
    <div>{{board.subject}}</div>
    <div>
        {{board.contents}}
    </div>
</div>
<table  cellspacing = 0 cellpadding = 0 border = 0 width=500>
    <tr><td>
        <input type=button value="수정" OnClick="location.href={% url 'modify' board.id %}">
        <input type=button value="목록" OnClick="window.history.back()">
        <input type=button value="삭제" OnClick="location.href={% url 'delete' board.id %}">
    </td></tr>
</table>

</html>