{% extends 'base.html' %}
{% block title %}글보기{% endblock %}
{% block contents %}

<!--<script src="/static/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({ 
        selector:'textarea',
        width:900,
        menubar:false,
        statusbar:false,
        toolbar:false,
    });
</script>   -->
<div>

    <div class="panel-heading">
         <h3 class="panel-title">
            {{board.id}} : {{board.subject}}
         </h3>
        <div class="panel-body">
            {% autoescape off %}
            {{ board.contents }}
            {% endautoescape %} 
        </div>
    </div>
</div>
{% if user.is_authenticated %}
<div>
    <button class="btn btn-default" onclick="location.href='{% url 'board_write' page=page %}?searchStr={{searchStr}}&board_id={{board.id}}'">수정</button>    
    <button class="btn btn-default" onclick="location.href='{% url 'board_delete' board_id=board.id page=page %}?searchStr={{searchStr}}'">삭제</button>
</div>
{% endif %}
<div>
    <button class="btn btn-default" onclick="location.href='{% url 'board_home' page=page %}?searchStr={{searchStr}}'">글목록</a></button>
</div>
<hr>
{% if replys.count > 0 %}
{% include 'replylist.html' %}
{% endif %}
{% include 'replyInput.html' %}
{% endblock %}

