{% extends 'base.html' %}
{% block title %}글보기{% endblock %}
{% block contents %}
<div>
    <hr>
    <div class="row">
        <div class="col-sm-9"><b>{{board.subject}}</b></div>
        <div class="col-sm-3 text-right">{{ board.created_date|date:"Y-m-d H:i:s" }}</p></div>
    </div>
    <hr>
    <div class="panel panel-default">
        <div class="panel-body">
            {% autoescape off %}
            {{ board.contents }}
            {% endautoescape %}    
        </div>
    </div>
</div>
{% if user.is_authenticated %}

    <button class="btn btn-default" onclick="location.href='{% url 'board_edit' board_id=board.id %}?page={{page}}&searchStr={{searchStr}}&board_id={{board.id}}'">수정</button>    
    <button class="btn btn-default" onclick="location.href='{% url 'board_delete' board_id=board.id %}?page={{page}}&searchStr={{searchStr}}'">삭제</button>

{% endif %}

    <button class="btn btn-default" onclick="location.href='{% url 'board_home' %}?page={{page}}&searchStr={{searchStr}}'">글목록</a></button>

<hr>
{% if replys is not None %}
{% include 'replylist.html' %}
{% endif %}
{% include 'replyInput.html' %}
{% endblock %}

