<form method='POST' action="{% url 'new_board' page %}?searchStr={{searchStr}}">
    {% csrf_token %}
    <div>제목: {{form.subject}}</div>
    <!--{% if form.subject.errors %}
        <div class="form-group has-error">
            <div class="help-block">{{ form.subject.errors }}</div>
        </div>
    {% endif %}-->
    <div>이름: {{form.name}}</div>
    <div>내용: {{form.contents}}</div>
        <button type=submit>작성</button>
        <button><a href="{% url 'home' page %}?searchStr={{searchStr}}">뒤로</a></button>
    </div>
</form>